<link rel="stylesheet" href="style.css">

<div class="container">
    <img alt="Background Image" src="https://ik.imagekit.io/avux/SaweriaOverlay/bg_nezuko.webp" class="background-img">
    <div class="left">
        <div class="mascot">
            <img src="https://ik.imagekit.io/avux/SaweriaOverlay/nezuko.webp">
        </div>
    </div>
    <div class="right">
        <div class="text">
            <p>
                <span class="amount">{amount}</span>
                    Dari 
                <span class="donator">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
</div>