<link rel="stylesheet" href="style.css">

<div class="container">
    <div class="left">
        <div class="mascot">
            <img src="https://cdn.discordapp.com/attachments/972016247795515454/1125400690186014730/giphy_1.webp">
        </div>
    </div>
    <div class="right">
        <div class="text">
            <p>
                <span class="saweria">{amount}</span> Dari <span class="saweria">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
</div>