@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.container {
    display: grid;
    grid-template-columns: 0fr 10fr;
    /* gap: 20px; */
    font-family: 'Poppins', sans-serif;
    position: relative;
    max-width: 750px;
    margin: 150px auto !important;
    padding: 10px 30px;
    background-image: url('https://cdn.bhdw.net/im/demon-slayer-nezuko-kamado-half-demon-wallpaper-90605_w635.webp');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.text {
    position: relative;
    z-index: 3;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text .message {
    line-height: 120%;
}

.saweria {
    color: rgba(225,116,173);
}

.mascot {
    position: absolute;
    top: -140px;
    left: -450px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.mascot img {
    max-width: 20%;
    height: auto;
    filter: drop-shadow(3px 0 4px rgba(0, 0, 0, 0.8));
}