<link rel="stylesheet" href="style.css">

<div class="container">
    <img alt="Background Image" src="https://ik.imagekit.io/avux/SaweriaOverlay/bg_neon.jpeg" class="background-img">
    <div class="left">
        <div class="mascot">
            <img src="https://ik.imagekit.io/avux/SaweriaOverlay/neon.png">
        </div>
    </div>
    <div class="right">
        <div>
            <img class="media" src="{media}" />
        </div>
        <div class="text">
            <p>
                <span class="amount">{amount}</span>
                Dari
                <span class="donator">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
</div>