@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --amount: rgb(255, 100, 159);
    --donator: rgb(255, 100, 159);
    --text: #ffffff;
}

.container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    max-width: 750px;
    margin: 150px auto !important;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 15px;
}

.mascot {
    position: absolute;
    bottom: -90px;
    left: -250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mascot img {
    width: 450px;
    height: auto;
    transform: scaleX(-1);
    filter: drop-shadow(3px 0 4px rgba(0, 0, 0, 0.4));
}

.media {
    max-width: 180px;
    position: relative;
    margin: 10px auto;
    display: flex;
    z-index: 3;
}

.text {
    position: relative;
    max-width: 600px;
    z-index: 3;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 550;
    letter-spacing: 0.8px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.amount {
    color: var(--amount);
}

.donator {
    color: var(--donator);
}

.text {
    line-height: 120%;
    overflow-wrap: break-word; 
    color: var(--text);
}