<link rel="stylesheet" href="style.css">

<div class="container">
    <img alt="Background Image" src="https://ik.imagekit.io/avux/SaweriaOverlay/bg_emilia.jpg" class="background-img">
    <div class="left">
        <div class="text">
            <p>
                <span class="saweria">{amount}</span> Dari <span class="saweria">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
    <div class="right">
        <div class="mascot">
            <img src="https://ik.imagekit.io/avux/SaweriaOverlay/emilia.png">
        </div>
    </div>
</div>