<link rel="stylesheet" href="style.css">

<div class="container">
    <div class="left">
        <div class="text">
            <p>
                <span class="saweria">{amount}</span> Dari <span class="saweria">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
    <div class="right">
        <div class="mascot">
            <img
                src="https://media.discordapp.net/attachments/972016247795515454/1124988835810517002/586-5860215_kurisu-makise-steins-renders-de-anime-png-rem-removebg-preview.png">
        </div>
    </div>
</div>