<link rel="stylesheet" href="style.css">

<div class="container">
    <img alt="Background Image" src="https://w0.peakpx.com/wallpaper/783/909/HD-wallpaper-anime-cat-girl-room-computer-animal-ears-coffee-cute-anime.jpg" class="background-img">
    <div class="left">
        <div class="mascot">
            <img src="https://media.tenor.com/VOTj4yADabMAAAAi/cats-animated.gif">
        </div>
    </div>
    <div class="right">
        <div class="text">
            <p>
                <span class="amount">{amount}</span>
                    Dari 
                <span class="donator">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
</div>