<link rel="stylesheet" href="style.css">

<div class="container">
    <img alt="Background Image" src="https://images2.alphacoders.com/123/1237510.jpg" class="background-img">
    <div class="left">
        <div class="mascot">
            <img src="https://cdn.discordapp.com/attachments/972016247795515454/1157663224192323665/fade.png">
        </div>
    </div>
    <div class="right">
        <div class="text">
            <p>
                <span class="amount">{amount}</span>
                    Dari 
                <span class="donator">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
</div>