<link rel="stylesheet" href="style.css">

<div class="container">
    <img alt="Background Image"
        src="https://wallpapers.com/images/high/genshin-impact-lisa-in-library-jee5bh3jc37yz78b.webp"
        class="background-img">
    <div class="left">
        <div>
            <img class="media" src="{media}" />
        </div>
        <div class="text">
            <p>
                <span class="amount">{amount}</span>
                Dari
                <span class="donator">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
    <div class="right">
        <div class="mascot">
            <img src="https://ik.imagekit.io/avux/SaweriaOverlay/lisa_genshin_vYpWEvU7N.png">
        </div>
        <div class="addon">
            <img src="https://media.tenor.com/E7IpzWaCtIwAAAAi/lisa-genshin-impact.gif">
        </div>
    </div>
</div>