@keyframes breathing {
    0% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.9);
    }
}

.container {
    animation: breathing 5s ease-out infinite normal;
}
