<link rel="stylesheet" href="style.css">

<div class="container">
    <img alt="Background Image" src="https://w0.peakpx.com/wallpaper/505/984/HD-wallpaper-anime-room-night.jpg" class="background-img">
    <div class="left">
        <div class="mascot">
            <img src="https://media.tenor.com/lU_m3-HK2mgAAAAi/cheers-mafumafu.gif">
        </div>
    </div>
    <div class="right">
        <div class="text">
            <p>
                <span class="amount">{amount}</span>
                    Dari 
                <span class="donator">{donator}</span>
            </p>
            <p>
                <span class="message">
                    {message}
                </span>
            </p>
        </div>
    </div>
</div>